$red: rgba(255, 0, 76, 0.609);
$green: rgba(6, 58, 32, 0.603);
$acid-green: rgba(3, 230, 52, 0.945);
$gray-submit: rgba(255, 255, 255, 0.681);
$black-messages: rgba(0, 0, 0, 0.913);
$radius: 15px;
$size-form: 20px;
$size: 25px;
$border: 3px solid $red;

%box {
  border: $border;
  border-radius: $radius;
}

html {
	background: linear-gradient( $red, transparent 1px), linear-gradient( 90deg, $red, transparent 1px);
	background-size: 20px 20px;
  background-color: black;
	background-position: center center;
  font-family: cursive;
}

// Special Styles

// Structure Styles

.popup {
  position: fixed;
  @extend %box;
  z-index: 1;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  width: 50%;
  padding: 2%;
  min-width: 270px;
  font-size: $size;
  color: $acid-green;
  background-color: $green;

  .popup__form {
    .password {
      margin-top: 30px;
    }

    .group__label {
      text-align: center;
      font-weight: normal;
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
    }

    .group__field {
      all: unset;
      box-sizing: border-box;
      width: 100%;
      font-size: $size-form;
      padding: 10px;
      border-radius: $radius;
      background-color: $black-messages;
      border: 2px solid black;
    }
    
    .group__field:invalid {
      border-color: $red;
      color: $red;
    }
    
    .group__field:valid {
      border-color: $acid-green;
      color: $acid-green;
    }

    .group__field:-webkit-autofill,
    .group__field:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;  //Исключаю автостиль при автозаполнении (костыль, не знаю как еще)
    }

    .form__submit {
      all: unset;
      cursor: pointer;
      display: block;
      border: 1px solid black;
      border-radius: $radius;
      background-color:$gray-submit;
      margin: 20px auto 0;
      width: 50%;
      height: 50px;
      box-sizing: border-box;
      padding: 5px 40px;
      text-align: center;
      color: red;
      font-weight: bold;
    }
    
    .form__submit:hover {
      background-color:yellow;
    }

    .form__hint {
      display: none;
      color: red;
      @extend %box;
      font-weight: bold;
      text-align: center;
      margin-top: 15px;
      background-color: $gray-submit;
    }
  }
}

.welcome {
  position: absolute; 
  width: 100%;
  top: 25%;
  height: 50%;
}

.start {
  text-transform: uppercase;
  animation: stroke 5s 1s alternate;
  font-size: $size;
  stroke-width: 2;
  stroke: $red;
  opacity: 0;
}
@keyframes stroke {
  0%   {
    opacity: 0;
    fill: $acid-green; stroke: $red;
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill:  $acid-green; stroke: $red; }
  80%  {opacity: 0.8; fill:  $acid-green; stroke: $red; stroke-width: 3; }
  100% {
    opacity: 0;
    fill: $red; stroke:  $acid-green; 
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}

.chat {
    grid-template-columns: 1fr 3fr;
    @extend %box;
    margin: 30px;
    min-width: 350px;
    font-size: $size;
    overflow: auto;
    display: none;

    .chat__users {
      border-right: $border;
      padding: 20px;
      background-color: $green;

      .users__title {
        color: $acid-green;
        text-decoration: underline;
        text-align: center;
        margin: 0;
      }

      .users__list {
        list-style-type: none;
        padding: 0;

        .list__card {
          color: $red;
          text-align: center;
        }
      }
    }

    .chat__window {
      display: grid;
      grid-template-rows: 5fr 1fr;
      background-color: $black-messages;

      .chat__tape {
        list-style-type: none;
        padding: 20px;
        margin: 0;
      }

      .chat__form {
        display: grid;
        grid-template-columns: 5fr 1fr;
        background-color: $green;
        border-top: $border;

        .chat__field {
          border: none;
          background-color: transparent;
          resize: none;
          outline: none;
          box-sizing: border-box;
          width: 100%;
          font-size: $size-form;
          padding: 10px;
          color: $acid-green;
          font-family: cursive;
          resize: none;
          cursor: auto;
        }

        .chat__field::-webkit-scrollbar {
          width: 10px;
        }

        .chat__field::-webkit-scrollbar-track {
          background: rgba(255, 255, 255, 0);
        }

        .chat__field::-webkit-scrollbar-thumb {
          background-color: $red;
          border-radius: $radius;
        }

        .chat__submit {
          all: unset;
          cursor: pointer;
          box-sizing: border-box;
          padding: 15px 25px;
          text-align: center;
          color: red;
          font-weight: bold;
        }

        .chat__submit:hover {
          background-color:rgba(255, 255, 0, 0.561);
        }
      }
    }
}

// .chat__container {
//     display: none;
//     min-width: 300px;

// }

// .chat__list {
//     min-width: 300px;
//     width: 30%;
//     border: 1px solid black;
//     border-radius: 15px;
//     list-style-type: none;
//     background-color: white;
//     position: relative;
//     padding: 20px;
// }

// .chat__window {
//     position: absolute;
//     border: 1px solid black;
//     border-radius: 15px;
//     background-color: white;
//     min-width: 50%;
//     top: 5%;
//     left: 300px;
//     padding: 20px;
// }

// .your-message {
//     text-align: end;
// }

// .your-message > .message__info {
//     color: orange;
// }

// .message__info {
//     font-size: small;
//     display: block;
//     color: blue;
//     font-weight: bold;
// }

// .message__text {
//     display: block;
//     margin-top: 7px;
//     margin-bottom: 40px;
// }

// .chat__field {
//     border-radius: 15px;
//     padding: 10px;
// }

.close {
  transition-property: opacity, height;
  transition-duration: 1.5s, 0s;
  transition-delay: 0s, 1.5s;
  opacity: 0;
}